/*Icon css starts*/

.li-ic {
    color: #0082ca!important;
}

.tw-ic {
    color: #55acee!important;
}

.fb-ic {
    color: #3b5998!important;
}

.db-ic{
    color: #ea4c89 !important;
}

.ins-ic{
    color: #5851DB !important;
}

.entry-share {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

/*Icon css ends*/

/*Header Css starts*/
#logo img{
    height: 50px;
    width: 60px;
} 

#uppernav{
    z-index: 5000;
}
#uppernav ul{
    list-style: none;
    margin-bottom: 0px !important;
    padding: 0px;
}
#uppernav ul li{
    padding: 10px 20px;
}

header .main-nav{
    position: fixed;
    width: 100%;
    z-index: 4000;
}
header .main-nav-scrolled{
    background-color: #00695c !important;
    top: 0;
    left: 0;
}

nav ul li a{
    text-transform: uppercase;
}

#dropdown-menu {
    background-color:  #00695c !important;
    
}
#dropdown-menu .dropdown-item{
    color: #fff !important;
}

#dropdown-menu .dropdown-item:hover{
    background-color:  #2BBBAD !important;
}
#search{
    margin-left: 40%;
}

@media (max-width: 990px){
  #search{
    margin-left: auto;
  }
}

/*Header css ends*/

/*slider css starts*/
#slider{
    position: relative;
}

.carousel-inner img{
	height: 600px;
}

.carousel-caption{
	bottom: 40% !important;
}

/*slider css ends*/

/*Index page latest posts css starts*/
#latest_post{
	margin: 50px 0px;
}

#latest_post h2{
	text-align: center;
	font-weight: 100px;
}

#latest_post .card{
    margin-bottom: 20px;
}

/*Index page latest posts css ends*/

/*ShowByCategory page All posts css starts*/
#showByCategory{
    position: relative;
    margin-top: 120px;
    margin-bottom: 30px;
}

#showByCategory h2{
    text-align: center;
    font-weight: 100px;
}

/*ShowByCategory page All posts css ends*/

/*aboutus page css starts*/

#aboutus{
    position: relative;
    margin-top: 120px;
    text-align: center;
}

#aboutus h2{
    text-align: center;
    font-weight: 100px;
}

#aboutus .card{
    margin-bottom: 20px;
    padding: 20px;
}

/*aboutus page css ends*/

/*adminprofile page css starts*/

#adminprofile{
    position: relative;
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
}
/*adminprofile page css ends*/

/*blogSide page css starts*/

#blogSide{
    position: relative;
    margin-top: 120px;
    margin-bottom: 30px;
    /*text-align: center;*/
}
.blog-details-content{
    margin-right: 0px !important;
    padding: 0px 20px;
}

#blogSide .top-content{
    text-align: center;
}

#related_post img{
    height: 150px;
}
/*blogSide page css ends*/

/*contact page css starts*/

#contact{
    position: relative;
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
}
/*contact page css ends*/

/*Footer css starts*/

.modal-header{
    background-color: #00695c !important;
}

/*Footer css ends*/

.dropdown{
    color: #fff !important;
}

.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.main-nav a, .navbar-default .navbar-nav > li > a, .main-nav ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;text-transform:capitalize;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.main-nav .active a,.main-nav .active a:focus,.main-nav .active a:hover,.main-nav li a:hover,.main-nav li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #fff;background: #2BBBAD !important;outline: 0;}
/*==========Sub Menu=v==========*/
/*.main-nav .collapse ul > li:hover > a{background: #4CAF50;}*/
.main-nav .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #2BBBAD;}
.main-nav .collapse ul ul ul > li:hover > a{background: #2BBBAD;}

.main-nav .collapse ul ul, .main-nav .collapse ul ul.dropdown-menu{background:#00695c;}
.main-nav .collapse ul ul ul, .main-nav .collapse ul ul ul.dropdown-menu{background:#2BBBAD}
.main-nav .collapse ul ul ul ul, .main-nav .collapse ul ul ul ul.dropdown-menu{background:#2BBBAD}

/******************************Drop-down menu work on hover**********************************/
.main-nav{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 767px) {
    .main-nav .collapse ul li:hover> ul{display:block}
    .main-nav .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    /*******/
    .main-nav .collapse ul ul li{position:relative}
    .main-nav .collapse ul ul li:hover> ul{display:block}
    .main-nav .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*******/
    .main-nav .collapse ul ul ul li{position:relative}
    .main-nav .collapse ul ul ul li:hover ul{display:block}
    .main-nav .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}


