body {
  font-size:15px;
  color:#666666;
  line-height:26px;
  font-weight:300;
  background:#ffffff;
  font-family: 'Roboto', sans-serif;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-font-smoothing: antialiased;
}


.meta-text a{
  position: relative;
  display: inline-block;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: #f3a28b;
  padding: 1px 10px 0px 10px;
  color: #ffffff;
  z-index: 1;
  transition: all 500ms ease;
}
.standard-post .top-content .meta-text{
  position: relative;
  display: inline-block;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background: #00695c;
  padding: 1px 10px 0px 10px;
  color: #fff;
  transition: all 500ms ease;
}
.meta-text a:hover{
  background: #222222;
}



.blog-side{
  position: relative;
}

.video-gallery {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 400px;
}
.video-gallery:before{
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.40);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}



.text-style-one {
    position: relative;
    padding: 0px 0px 0px 80px;
}

.text-style-one .bold-text {
    position: absolute;
    left: 0px;
    top: 7px;
    font-size: 50px;
    font-weight: 700;
    color: #666666;
    padding: 17px 14px 15px 13px;
    border: 1px solid #f3a28b;
}



.blog-content-one{
  position: relative;
}
.meta-list{
  position: relative;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 52px;
}
.meta-list li{
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 14px 0px 11px 0px;
  border-right: 1px solid #e7e7e7;
  font-size: 12px;
  color: #999999;
  font-weight: 400;
  line-height: 21px;
}
.meta-list li a{
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 21px;
}
.meta-list li a:hover{
  color: #f3a28b;
}
.meta-list li:nth-child(3){
  border-right: none;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
}
i.flaticon-circle:before{
  position: relative;
  font-size: 4px;
  margin: 0px;
  top: -3px;
}
i.flaticon-substract:before{
  position: relative;
  font-size: 12px;
  margin: 0px;
}
i.fa{
  font-size: 13px;
}
.blog-content-one .title h3{
  margin-bottom: 16px;
}
.blog-content-one .date{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  text-transform: capitalize;
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
}
.blog-content-one .date span{
  font-family: 'Lora', serif;
  text-transform: capitalize;
  font-style: italic;
  font-size: 14px;
}
.blog-details-content{
  position: relative;
  margin-right: 70px;
}
.blog-content-one .meta-text{
  margin-bottom: 18px;
}
.blog-content-one p{
  margin-bottom: 26px;
}
.blog-content-two li{
  width: 49%;
}
.blog-content-two li:nth-child(2){
  border-right: none;
}
.blog-content-two .meta-text{
  padding: 1px 7px 0px 7px;
  margin-bottom: 14px;
}
.blog-content-two .meta-list{
  margin-top: 42px;
}
.blog-details-content img{
  width: 100%;
  transition: all 500ms ease;
  transform: scale(1.0);
}
.blog-details-content .img-box{
  position: relative;
  overflow: hidden;
}
.blog-content-three{
  position: relative;
}
.blog-details-content .content-box:hover img{
  transform: scale(1.1);
}
.blog-content-three .img-box{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.blog-content-three .content {
  display: table;
  height: 100%;
  width: 100%;
}
.blog-content-three h3 a{
  color: #fff;
}
.blog-content-three .date{
  color: #fff;
}

.social-link{
  position: relative;
}
.social-link li{
  display: inline-block;
  position: relative;
  margin: 0px 6px;
}
.social-link li a{
  position: relative;
  display: inline-block;
}

.form-group{
  margin-bottom: 0px;
}
input[type=text],
input[type=email],
textarea{
  position: relative;
  width: 100%;
  height: 41px;
  border: 1px solid #f1f1f1;
  padding: 8px 20px;
  transition: all 900ms ease;
}
input:focus,
textarea:focus{
  border: 1px solid #f3a28b;
  transition: all 900ms ease;
}


/**


====================================================================
                        blog-single / standard-post
====================================================================

***/

.single-authore{
  position: relative;
  padding: 0px 0px 0px 101px;
}
.single-authore .authore-img{
  position: absolute;
  left: 0px;
  top: 7px;
}
.single-authore .authore-title{
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.single-authore .authore-title span{
  color: #f3a28b;
  font-size: 15px;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
}
.single-authore p{
  margin-bottom: 8px;
}
.nav-style-none .owl-nav{
  display: none !important;
}
.related-post .owl-theme .owl-dots .owl-dot span {
  background: none repeat scroll 0 0 #dddddd;
}
.standard-post .related-post .meta-text a{
  margin-bottom: 12px;
}
.standard-post .related-post .carousel-style-one .lower-content{
  position: relative;
  padding: 19px 0px 0px 0px;
}
.standard-post .related-post .dots-style-one .owl-dots{
  top: 0px;
  margin-top: 35px;
}
.standard-post .related-post .dots-style-one.owl-theme .owl-controls{
  margin-bottom: 0px;
}
.title-text-two{
  position: relative;
  font-size: 13px;
  font-weight: 700;
  color: #00695c;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 56px;
  padding-bottom: 11px;
  margin-bottom: 39px;
}
.comment-area .single-comment{
  position: relative;
  padding: 0px 0px 0px 90px;
  margin-bottom: 35px;
}
.comment-area .title-text-two{
  margin-bottom: 32px;
}
.comment-area .single-comment .img-box{
  position: absolute;
  left: 0px;
  top: 7px;
  margin-bottom: 0px;
}
.comment-area .single-comment .comment-title{
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.comment-area .single-comment .replay{
  position: relative;
  display: inline-block;
  float: right;
}
.comment-area .single-comment .replay a{
  font-size: 15px;
  font-family: 'Lora', sans-serif;
  color: #00695c;
  font-style: italic;
  z-index: 1;
}
.comment-area .single-comment .replay a:hover{
  color: #999999;
}
.comment-area .single-comment .comment-time{
  position: relative;
  top: -4px;
  font-size: 12px;
}
.comment-area .single-comment.replay{
  position: relative;
  margin-left: 90px;
}
.comment-form input{
  height: 45px;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0;
}
.comment-form input:focus,
.comment-form textarea:focus{
  border: 1px solid #f3a28b;
}
.comment-form textarea{
  height: 220px;
  resize: none;
  margin-bottom: 12px;
  border: 1px solid #e0e0e0;
}
.comment-form .btn-one{
  padding: 6px 32px 5px 31px;
}
.standard-post .blog-details-content .img-box{
  margin-bottom: 11px;
}
.standard-post .blog-details-content .img-box:hover img{
  transform: none;
}
.standard-post .quote-text{
  margin: 36px 0px 42px 0px;
  padding: 0px 0px 0px 39px;
}
.standard-post .quote-text:before{
  left: 10px;
}
.standard-post .single-item .blog-content-one{
  padding-bottom: 0px;
}
.standard-post .blog-content-one{
  padding-bottom: 63px;
}
.comment-area{
  position: relative;
  margin-bottom: 64px;
}
.gallery-post .img-list li{
  position: relative;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 6px;
}

/*** 

====================================================================
                        contact page
====================================================================

***/


.contact-section{
  padding-bottom: 99px;
}
.contact-section .contact-info .lower-content{
  position: relative;
  padding: 33px 0px 0px 0px;
}
.contact-section .contact-info .title-top .text{
  font-size: 12px;
  color: #999999;
  letter-spacing: 1px;
  line-height: 23px;
}
.contact-section .contact-info .title-top .text span{
  font-size: 14px;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-style: italic;
  color: #333333;
}
.contact-section .contact-info .title-top{
  margin-bottom: 33px;
}
.contact-section .contact-info .title-top h3{
  margin-bottom: 17px;
}
.contact-section .contact-form-area input{
  height: 45px;
  margin-bottom: 19px;
  border: 1px solid #e0e0e0;
}
.contact-section .contact-form-area textarea{
  height: 220px;
  resize: none;
  margin-bottom: 22px;
  border: 1px solid #e0e0e0;
}
.contact-section .contact-form-area input:focus,
.contact-section .contact-form-area textarea:focus{
  border: 1px solid #f3a28b;
}
.contact-section .title-text-two{
  margin-top: 54px;
  margin-bottom: 40px;
}


/** slider-style-four **/


.slider-style-four .single-item{
  position: relative;
}
.slider-style-four .single-item .img-box{
  position: relative;
  overflow: hidden;
}
.slider-style-four .single-item .img-box img{
  width: 100%;
}
.slider-style-four .inner-box{
  position: absolute;
  text-align: center;
  left: 0px;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100%;
  display: flex;
  height: 100%;
}
.slider-style-four .inner-box .content{
  position: relative;
  display: inline-block;
  padding: 43px 54px 19px 53px;
  background: rgba(0, 0, 0, 0.8);
}
.slider-style-four .inner-box .content h3 a,
.slider-style-four .inner-box .content .date{
  color: #ffffff;
}
.slider-style-four .inner-box .content h3 a:hover{
  color: #f3a28b;
}
.slider-style-four .two-column-carousel .meta-text{
  margin-bottom: 19px;
}
.mar-bottom-100{
  margin-bottom: 100px;
}
.mar-top-100{
  margin-top: 100px !important;
}
.page-pagination{
  margin-top: 40px;
}
